<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to Home Page</h1>
    <form action="/" method="post" enctype="multipart/form-data">
      <!-- <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="enter name" />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="enter email" />
      </div> -->
      <div>
        <label for="image">Upload Image</label>
        <input type="file" name="image" id="image" accept="image/*" multiple />
      </div>
      <div>
        <label for="wallpaper">Upload Wallpaper</label>
        <input
          type="file"
          name="wallpaper"
          id="wallpaper"
          accept="image/*"
          multiple
        />
      </div>
      <button type="submit">Save Info</button>
    </form>
  </body>
</html>
